/data/large_files/
/scripts/GIST_v1-1.parquet
/scripts/LIST_v1-1.parquet
/data/KDDHB_students.csv
/data/UDHB_students.csv
/data/UDHB_students2025.csv
/data/data_df.json
/pribehy_venv/
/management/kontrola.ipynb
.env
.DS_Store